/* MainContainer */
.container {
}

.containerTopDisplay {
}

.containerMainDisplay {
}

/* Search Display */
.search-display {
}

.search-results {
}

.enterGameTitle {
}

#gameTitleInput.enterGameTitle {
}

#searchGame.enterGameTitle {
}

.game-card {
  width: 100px;
  height: 150px;
  border: 2px solid lightslategray;
}

.game-card img {
  max-width: 75%;
  height: auto;
}

.collectionDisplay {
}
